@charset "utf-8"

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Orbitron&family=Play&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap')

$family-serif: 'Amiri', serif
$family-sans-serif: "Play", sans-serif

$family-secondary: $family-serif

$body-font-size: 1.1em

// Colors

$fuchsia: #FF0080

$primary: $fuchsia
$link: $fuchsia

@import "../_bulma/bulma.sass"
