<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% if page.title%} {{page.title}} {% else %} {{ config.title }} {% endif %}</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>

    {% include "include/nav.html" %} {% include "include/hero.html" %}

    <main class="main section">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </main>

    {% include "include/footer.html" %}

</body>

</html>