{% extends "base.html" %} {% block content %}

<div class="columns">
    <div class="content column is-8 is-offset-2 is-family-secondary">
        <h1>
            Welcome to my homepage!
        </h1>
        <p>
            I am a developer who write code, and also tales. Code runs, and tales are fun to read.
        </p>
        <p>
            I have many skills:
            <ul>
                <li>Rust</li>
                <li>WASM</li>
                <li>TypeScript</li>
            </ul>
        </p>
        <p>
            I will be building new products that reshape our world!
        </p>
    </div>
</div>
{% endblock content %}